Kings_Heart_Main_Database_Server_URI=
Kings_Heart_Main_Database=
Kings_Heart_Main_Database_Admin_Table=

Kings_Heart_JWT_Secret_Key=
Kings_Heart_JWT_Algorithm=

Kings_Heart_Password_Secret_Key=
Kings_Heart_Password_Algorithm=

Kings_Heart_Brevo_Email_API=
Kings_Heart_Brevo_Email_API_Key=

Kings_Heart_Bulk_SMS_Nigeria_API_Key=

Kings_Heart_Main_Logger=
Kings_Heart_Main_Logger_Path=
Kings_Heart_Main_Logger_Max_File_Size= 
Kings_Heart_Main_Logger_Max_Allowed_Files=

Kings_Heart_Command_Storage_Logger=
Kings_Heart_Command_Storage_Logger_Path=
Kings_Heart_Command_Storage_Logger_Max_File_Size=
Kings_Heart_Command_Storage_Logger_Max_Allowed_Files=

Kings_Heart_Default_Response_Template=
Kings_Heart_OTP_Email_Template=